<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Resources.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Login Page Main">
    <classes>
      <class name="Testing.Main"/>
    </classes>
  </test> <!-- Test -->
<test name="Forgot Password Main2">
	<classes>
		<class name="Testing.Main2"></class>
	</classes>
</test>
  
</suite> <!-- Suite -->
